/*
#0B0C10  schwarz
#1F2833  antrazith
#C5C6C7  hellgrau
#66FCF0  hellblau
#45A29E  dunkelblau
*/
.schwarz{
	background-color: #0B0C10;
}
.antrazith{
	background-color: #1F2833;
}
.grau{
	background-color: #C5C6C7;
}
.hblau{
	background-color: #66FCF0;
}
.dblau{
	background-color: #45A29E;
}
.ddblau{
	background-color: #257a76;
}

.backdrop{
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	background: url(fabLabKampLintfort_blau.jpg);
	background-size: cover;
	overflow: hidden;
	filter: grayscale();
}
.nav-custom{
	z-index: 2;
	height: 3vh;
}

.nav-item-custom-under{
	opacity: 0.8;
	width: 15vw;
	height: 50vh;
	float: left;
}
.nav-item-custom{
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 5vw;
	color: white;
	opacity: 0.9;
	width: 15vw;
	height: 50vh;
	float: left;
	outline: 2px dashed white;
 	outline-offset: -5px;
}

textarea
{
    border: none; 
    resize: none
    width: 100%;   
}

.nav-text-custom{	
	transform-origin: 0% 0%;
	transform :rotate(-90deg);
	position: absolute;
	opacity: 1;
	left:-0vw;
	top: 48vh;	
}

.bild{
	position: absolute;
	z-index: -3;
	width: 100%;
}
.profilbild{
	position: absolute;
	width: 30vw;
	height: 30vw;
	background-color: white;
	left: 60vw;
	top: 20vh;
	outline: 2px dashed #C5C6C7;
 	outline-offset: -5px;
 	opacity: 0.8;
 	overflow: hidden;
}
.deko1{
	position: absolute;
	transform-origin: 0% 0%;
	top:-10vh;
	left:20vw;
	transform: rotate(45deg);
	width: 100vh;
	height: 3vh;
	outline: 2px solid white;
 	outline-offset: -5px;
}

.deko2{
	position: absolute;
	transform-origin: 0% 0%;
	top:-8vh;
	left:18vw;
	transform: rotate(45deg);
	width: 100vh;
	height: 1vh;

}



.nav-item-custom-back{
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 5vw;
	color: white;
	opacity: 0.9;
	width: 7vw;
	height: 50vh;
	float: left;
	outline: 2px dashed white;
 	outline-offset: -5px;
}
.nav-item-custom-under-back{
		opacity: 0.8;
	width: 7vw;
	height: 50vh;
	float: left;
}

.about-text-wrapper{
	position: absolute;
	width: 30vw;
	height: 30vw;
	background-color: rgba(255,255,255,0.3);
	left: 15vw;
	top: 20vh;
	outline: 2px dashed #C5C6C7;
 	outline-offset: -5px;
 	border-radius: 1%;
}



.about-text-wrapper p{
	opacity: 1;
	padding: 2em;
	color: white;
	font-size: 1vw;
}



.ic{
	position: absolute;
	top: 17vh;
	left: 15vw;
	width: 70vw;
}

.col-height{
	height: 26vh;
	outline: 2px dashed #C5C6C7;
 	outline-offset: -5px;
 	background-color: rgba(255,255,255,0.3);
 	margin-right: 5px;
}
.col-height:hover{
	background-color: rgba(255,255,255,0.8);
}
.col-height-half{
	height: 13vh;
}



h2{
	font-family: 'Roboto', sans-serif;
	color: #45A29E; 
}
.container{
	background-color: #FFF8F0;
	width: 60vw;
	position: absolute;
	left: 20vw;
}
.divider-cont{
	margin-bottom: 1em;
	margin-top: 1em;
}
.divider{
	border-bottom: 1px solid #45A29E;
	
}
.nav-link{
	color: #66FCF0;
}

.small{
	width: 30%;
}
.medium{
	width: 50%;
}
.large{
	width: 80%
}

.docutext{
	font-family: 'Roboto', sans-serif;
}